@page

@using  Bindu.Sampatti.Web.Pages.Procurement.PurchaseRequisition.QuotationsReceived

@model IndexModel

@section scripts {
    <abp-script-bundle>
        <abp-script src="/Pages/procurement/purchaserequisition/quotationsreceived/Index.js" />
    </abp-script-bundle>
}

@{
    ViewData["Title"] = "Quotations Received - Purchase Requisition > Procurment > Bindu Sampatti";
}

<abp-card>
    <abp-card-header>
        <abp-card-title>
            PR DETAILS
        </abp-card-title>
    </abp-card-header>
    <abp-card-body>
        <div class="row">
            <div class="col-3">

                <h3>
                    PR000X
                </h3>
                <h6><span class="badge badge-pill badge-primary">Waiting for Approval</span></h6>
                <small class="text-muted">20 March 2021 11:15 AM</small>
            </div>

            <div class="col-9">
                <h4>Manager One</h4>
                <h5>Department One</h5>
                <h6>Section One</h6>
            </div>
        </div>
    </abp-card-body>
</abp-card>


 

<abp-nav nav-style="Pill"  CLass="mt-3">
    <abp-nav-item>
        <a abp-nav-link href="/procurement/purchaserequisition"><i class="fa fa-arrow-alt-circle-left"></i> Back to List</a>
    </abp-nav-item>
    <abp-nav-item>
        <a abp-nav-link href="/Procurement/purchaserequisition/lineitems/index?prNumber=PR0001">
            <i class="fas  fa fa-shopping-cart "></i>
            Items Required
        </a>
    </abp-nav-item>
    <abp-nav-item>
        <a abp-nav-link href="#" active="true"><i class="fas  fa fa-clipboard-list "></i> Quotations Received</a>
    </abp-nav-item>

</abp-nav>
<abp-card class="mt-3">
    @*<abp-card-header>
            <abp-row>
                <abp-column size-md="_6">
                    <abp-card-title>
                        <abp-button id="newQuotation" text="Add Quotation" icon="plus" button-type="Primary" />
                    </abp-card-title>
                </abp-column>
                <abp-column size-md="_6" class="text-right">
                    <abp-dropdown>
                        <abp-dropdown-button button-type="Danger" text="Workflow" icon="stack-overflow" />
                        <abp-dropdown-menu>
                            <abp-dropdown-item href="#" Class="fas fa-check-square"> Approve</abp-dropdown-item>
                            <abp-dropdown-divider />
                            <abp-dropdown-item href="#" Class="fa fa-times-rectangle"> Reject</abp-dropdown-item>
                        </abp-dropdown-menu>
                    </abp-dropdown>
                </abp-column>
            </abp-row>
        </abp-card-header>*@

    <abp-card-body>
        <abp-table striped-rows="true" hoverable-rows="true" id="quotationsList" />
    </abp-card-body>
</abp-card>
