@page

@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Bindu.Sampatti.Localization
@using Bindu.Sampatti.Web.Pages.Organisation.Designation

@model EditModalModel

@inject IStringLocalizer<SampattiResource> L

@{
    Layout = null;
}

<form asp-page="/organisation/designation/editmodal">
    <abp-modal>
        <abp-modal-header title="@L["DesignationUpdate"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="ExistingDesignation.Id" type="hidden" />
            <abp-input asp-for="ExistingDesignation.Name" />
            <abp-input asp-for="ExistingDesignation.Notes" />
            <abp-radio asp-for="ExistingDesignation.Status" asp-items="@Model.DesignationStatus" label="@L["DesignationStatus"].Value" inline="true" />

        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Save|AbpModalButtons.Cancel)"></abp-modal-footer>
    </abp-modal>
</form>